.content {
  display: flex;
  gap: 1rem;
}

.content-items-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;

  .card-content {
    display: grid;
    gap: 5px;
  }
  .card-content_items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .cbu {
    color: cornflowerblue;
  }
}
