/* <--- ESTILOS GLOBALES      ---> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: blanchedalmond;
}

/*color a modo de ejemplo (lo puse solamente para hacer notar el header, sacar si hace falta)*/
.container {
  /* VER CONTAINER!!!!!!!!!!!!!!!!!!!! */
}
