/* <--- ESTILOS GLOBALES      ---> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: rgb(92, 91, 88);
}

/*color a modo de ejemplo (lo puse solamente para hacer notar el header, sacar si hace falta)*/
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: beige;
}
